MAKE_BLUEPRINT_01_TELEGRAM_OFERTA_PARA_DRAFT.json
{
  "name": "DEV - /oferta + mensagem encaminhada (5min, imagem obrigatoria) -> draft",
  "flow": [
    {
      "id": 1,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true
      },
      "mapper": {
        "url": "https://api.telegram.org/bot8574127810:AAHxTox1c1OMx2gEoSyYE3rCAZLVOWvA0zg/getUpdates",
        "serializeUrl": false,
        "method": "get",
        "headers": [],
        "qs": [],
        "bodyType": "",
        "parseResponse": true,
        "shareCookies": false,
        "rejectUnauthorized": true,
        "followRedirect": true,
        "useQuerystring": false,
        "gzip": true,
        "useMtls": false,
        "followAllRedirects": false
      },
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0
        }
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicFeeder",
      "version": 1,
      "parameters": {},
      "mapper": {
        "array": "{{1.data.result}}"
      },
      "metadata": {
        "designer": {
          "x": 260,
          "y": 0
        }
      }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true
      },
      "filter": {
        "name": "Comando /oferta no grupo DEV",
        "conditions": [
          [
            {
              "a": "{{2.message.text}}",
              "b": "/oferta",
              "o": "text:startsWith"
            }
          ]
        ]
      },
      "mapper": {
        "url": "https://api.telegram.org/bot8574127810:AAHxTox1c1OMx2gEoSyYE3rCAZLVOWvA0zg/sendMessage",
        "serializeUrl": false,
        "method": "post",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "data": "{\n  \"chat_id\": \"{{2.message.chat.id}}\",\n  \"reply_to_message_id\": \"{{2.message.message_id}}\",\n  \"text\": \"Envie agora a oferta original encaminhada (com imagem) em ate 5 minutos.\"\n}",
        "parseResponse": true,
        "useMtls": false,
        "followAllRedirects": false
      },
      "metadata": {
        "designer": {
          "x": 520,
          "y": -140
        }
      }
    },
    {
      "id": 4,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true
      },
      "filter": {
        "name": "Oferta encaminhada com imagem",
        "conditions": [
          [
            {
              "a": "{{length(2.message.photo)}}",
              "b": "0",
              "o": "number:greater"
            },
            {
              "a": "{{ifempty(2.message.caption;2.message.text)}}",
              "b": "",
              "o": "text:notequal"
            }
          ]
        ]
      },
      "mapper": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyDortoZ8bGV-K5WaizY-hEXKRTxp9HIzFk",
        "serializeUrl": false,
        "method": "post",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "data": "{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Extraia dados de oferta em portugues-BR e retorne SOMENTE JSON valido com: product_name, catchy_description, product_description, original_price, current_price, affiliate_link. Texto da oferta: {{ifempty(2.message.caption;2.message.text)}}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.2,\n    \"responseMimeType\": \"application/json\"\n  }\n}",
        "parseResponse": true,
        "useMtls": false,
        "followAllRedirects": false
      },
      "metadata": {
        "designer": {
          "x": 520,
          "y": 120
        }
      }
    },
    {
      "id": 5,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {},
      "mapper": {
        "json": "{{4.data.candidates[0].content.parts[0].text}}"
      },
      "metadata": {
        "designer": {
          "x": 780,
          "y": 120
        }
      }
    },
    {
      "id": 6,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true
      },
      "mapper": {
        "url": "https://api.telegram.org/bot8574127810:AAHxTox1c1OMx2gEoSyYE3rCAZLVOWvA0zg/getFile",
        "serializeUrl": false,
        "method": "post",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "data": "{\n  \"file_id\": \"{{2.message.photo[length(2.message.photo)-1].file_id}}\"\n}",
        "parseResponse": true,
        "useMtls": false,
        "followAllRedirects": false
      },
      "metadata": {
        "designer": {
          "x": 1040,
          "y": 120
        }
      }
    },
    {
      "id": 7,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true
      },
      "mapper": {
        "url": "https://stylish-acceptance-cameras-tuesday.trycloudflare.com/auth/login",
        "serializeUrl": false,
        "method": "post",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "data": "{\"username\":\"admin\",\"password\":\"admin123\"}",
        "parseResponse": true,
        "shareCookies": true,
        "useMtls": false,
        "followAllRedirects": false
      },
      "metadata": {
        "designer": {
          "x": 1300,
          "y": 120
        }
      }
    },
    {
      "id": 8,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true
      },
      "mapper": {
        "url": "https://stylish-acceptance-cameras-tuesday.trycloudflare.com/api/instagram/publish/drafts",
        "serializeUrl": false,
        "method": "post",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "data": "{\n  \"postType\": \"feed\",\n  \"productName\": \"{{5.product_name}}\",\n  \"caption\": \"{{5.catchy_description}}\\n\\n{{5.product_description}}\\n\\nPreco VIP: {{5.current_price}}\\nPreco original: {{5.original_price}}\",\n  \"hashtags\": \"#achadinhos #oferta #vip\",\n  \"imageUrls\": [\n    \"https://api.telegram.org/file/bot8574127810:AAHxTox1c1OMx2gEoSyYE3rCAZLVOWvA0zg/{{6.data.result.file_path}}\"\n  ],\n  \"ctas\": [\n    {\n      \"keyword\": \"VIP\",\n      \"link\": \"{{5.affiliate_link}}\"\n    }\n  ]\n}",
        "parseResponse": true,
        "shareCookies": true,
        "useMtls": false,
        "followAllRedirects": false
      },
      "metadata": {
        "designer": {
          "x": 1560,
          "y": 120
        }
      }
    },
    {
      "id": 9,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": false,
        "useNewZLibDeCompress": true
      },
      "mapper": {
        "url": "https://api.telegram.org/bot8574127810:AAHxTox1c1OMx2gEoSyYE3rCAZLVOWvA0zg/sendMessage",
        "serializeUrl": false,
        "method": "post",
        "headers": [
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "bodyType": "raw",
        "contentType": "application/json",
        "data": "{\n  \"chat_id\": \"{{2.message.chat.id}}\",\n  \"text\": \"Novo draft para validacao\\nDraftId: {{8.data.id}}\\nProduto: {{5.product_name}}\\nLink: {{5.affiliate_link}}\\nComandos: /aprovar {{8.data.id}} | /reprovar {{8.data.id}} motivo\"\n}",
        "parseResponse": true,
        "useMtls": false,
        "followAllRedirects": false
      },
      "metadata": {
        "designer": {
          "x": 1820,
          "y": 120
        }
      }
    }
  ],
  "metadata": {
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    }
  }
}
